@{
    ViewData["Title"] = "Strona główna";
}

<div>
    <h1 class="display-4 text-center mt-4">Tylko Wiatraki</h1>
    <p class="text-justify mt-4">
        Aplikacja internetowa umożliwiająca udostępnianie treści w ramach subskrypcji
        użytkownikom indywidualnym. Twórca może na swojej tablicy wstawiać posty, udostępniać zdjęcia, filmy, pliki a
        także nadawać transmisje na żywo dla swoich subskrybentów. Istnieje możliwość udostępniania treści wybranym
        użytkownikom lub wszystkim na platformie. Materiały pogrupowane w kursy mogą być udostępniane w ramach
        oddzielnego zakupu. Użytkownicy mają możliwość komentowania oraz oceniania treści, do których mają dostęp.
        Twórca może dowolnie ustalić cenę subskrypcji swojego kanału oraz koszty poszczególnych materiałów i kursów.
        Treści i kanały mogą mieć przypisaną kategorię. Użytkownicy mogą zgłaszać treści, które według nich łamią
        regulamin serwisu, prawo lub są nieodpowiednie. Zgłoszone treści będą przeglądane przez administrację. Aplikacja
        rejestruje historię wyświetleń materiałów przez użytkowników, a potem tworzy na ich podstawie statystyki. Każdy
        użytkownik posiada indywidualną historię oglądania materiałów wideo, dzięki czemu aplikacja pamięta kiedy
        zakończyli oglądanie danego materiału i pozwala szybko kontynuować odtwarzanie. Aplikacja przechowuje historię
        płatności. Twórcy mają możliwość tworzenia zadań dla subskrybentów. Użytkownik odpowiada na zadanie poprzez
        przesłanie pliku z rozwiązaniem, po czym otrzymuje informację zwrotną. Twórcy mają możliwość tworzenia promocji
        na swoje materiały. Promocja polega na obniżeniu ceny o dany procent na określony czas. Użytkownik otrzymuje
        powiadomienia email o nowych treściach w ramach aktywnych subskrypcji. Opcjonalnie użytkownik może otrzymywać
        powiadomienia o nowych dostępnych do zakupu kursach. Aplikacja umożliwia wymianę prywatnych wiadomości z autorem
        zakupionych kursów.
    </p>
</div>
